/sandboxes/nb/arrToDblLnkdLst/dist/
/sandboxes/nb/arrToDblLnkdLst/build/
/sandboxes/nb/heap_sort_one_function/dist/
/sandboxes/nb/heap_sort_one_function/build/
/sandboxes/nb/other_small_examples/dist/
/sandboxes/nb/other_small_examples/build/
/sandboxes/nb/remove_duplicates_from_array/dist/
/sandboxes/nb/remove_duplicates_from_array/build/
/sandboxes/nb/test_from_Amazon/build/
/sandboxes/nb/test_from_Amazon/dist/
/sandboxes/nb/test_from_NIH/dist/
/sandboxes/nb/test_from_NIH/build/

